app/node_modules
app/public/hot
app/public/storage
app/storage/*
app/vendor
app/nodemodules
app/.env
app/.env.backup
app/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
